header {
  margin: 0 auto;
  height: 60vh;
  /* border: 1px solid red; */
}
h1 {
  padding: 1rem;
  width: 100%;
  background-color: rgba(228, 228, 228, 0.588);

  /* border: 1px solid red; */
}
.h1-background {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: calc(1rem + 1vw);

  /* border: 1px solid green; */
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 1rem;
  /* border: 1px solid blue; */
}

.menubtns {
  background-color: #f9f5e3;
  margin: 3rem;
  border: none;
  width: 70%;
  height: min-content;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background: linear-gradient(154deg, #f9f5e3, #e45927 90%);
  box-shadow: inset 4px 4px 6px -2px #ffdbdb, inset -4px -4px 4px 0px #897808;
  /* border: 1px solid green; */
}

.active {
  background-color: linear-gradient(178deg, #f9f5e3, #d2d2d2 99%);
  box-shadow: 2px 2px 2px #fcb690ea;
}

@media only screen and (max-width: 700px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menubtns {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
