.interest-form {
  padding: 2rem;
  margin-top: 2rem;
}

.interest-form h3 {
  margin-bottom: 2rem;
  display: flex;
  align-self: flex-start;
  font-size: 2.2rem;
}

.interest-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.interest-form label {
  font-size: 1.7rem;
}

.input-name {
  margin-bottom: 2rem;
}
.input-name #name,
#lastName,
#tel-number,
#email {
  margin: 0rem 1rem 0rem 1rem;
  padding: 0.5rem;
  border: none;
  background-color: #f9f5e3;
}

.animal-option #pets {
  margin-left: 1rem;
  padding: 0.5rem;
}

.animal-option {
  margin-bottom: 2rem;
}

.input-contact {
  margin-bottom: 2rem;
}

.message-box #lm {
  margin-right: 1rem;
}
.message-box {
  display: flex;
  flex-direction: row;
}

.message-box #input-message {
  border: none;
  background-color: #f9f5e3;
  resize: none;
}

.submit-button {
  display: flex;
  align-self: flex-end;
  margin-left: 2rem;
}
.submit-button #btn {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #d27452;
  cursor: pointer;
  font-family: "Darumadrop One";
  font-size: 1.7rem;
}
#btn:hover{
    background-color: #c6836a;
    
}

#btn:active {
  background: white;
  box-shadow: 2px 2px 2px #fc894d;
  transition-property: background-color;
}

@media only screen and (max-width:700px){
  .interest-form label{
    margin-top: 1rem;
  }
  
  .input-name{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .animal-option{
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .input-contact{
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .message-box{
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .submit-button {
   margin-top: 1rem;
    
  }
  .interest-form h3{
    justify-content: center;
  }
  



}

