* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ysabeau-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ysabeau";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ysabeau-v1-latin-regular.woff2") format("woff2");
}

/* darumadrop-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Darumadrop One";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/darumadrop-one-v7-latin-regular.woff2") format("woff2"); /* Super Modern Browsers */
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Ysabeau";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: "Darumadrop One";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
